<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="{{ site.baseurl }}/favicon-32x32.png">

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

	</head>
	<body>

		<div class="panel">
			<header>
				<h3>the wedding of</h3>
				<h1>Darryl <span class="amp">&amp;</span> Huojie</h1>
				<!-- <h3 class="chinese">大龙&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;霍婕</h3> -->
				<div class="date">
					<p>Saturday the 31<sup>st</sup> of May, 2014</p>
					<p>in <a href="https://en.wikipedia.org/wiki/Kunming" title="read about Kunming on Wikipedia">Kunming</a>, China</p>
				</div>
			</header>
		</div>
		<div class="panel">
			<section class="content">
				{{ content }}
			</section>
			<footer>
				<a class="rsvp" href="mailto:dazsnow@gmail.com?cc=huojie1102@gmail.com&subject=RSVP&body=I am definitely coming!">RSVP</a>
			</footer>
		</div>

	</body>
</html>